/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0.9rem;
}

#wrapper {
  font-size: 1.2rem;
  position: relative;
  width: 100%;
}

#calendar li {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  margin: 0.2rem 0;
  padding: 0.8rem 1rem;
  position: relative;
}

#calendar li span {
  color: #888;
  display: block;
}

#calendar li.today span {
  color: #37ddfb;
}

.options {
  margin-top: 0.8rem;
  width: 100%;
}

button {
  border: 2px solid transparent;
  border-radius: 1px;
  font-size: 1.1rem;
  margin: 0.08rem;
  padding: 0.6rem;
  width: 7.58rem;
}

button:hover, .active {
  opacity: 0.9;
}

.period {
  color: #370909;
}

.symptom {
  color: #194861;
}

.symptom.bloated {
  background-color: rgba(101, 219, 240, 0.3);
}

.symptom.cramps {
  background-color: rgba(101, 219, 240, 0.5);
}

.symptom.headache {
  background-color: rgba(101, 219, 240, 0.8);
}

.symptom.tired {
  background-color: rgba(101, 219, 240, 0.9);
}

.symptom.active {
  border: 2px solid #33808e;
}

.marker {
  background-color: #f1f1f1;
  border-radius: 3rem;
  height: 1.9rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  width: 1.9rem;
}

.marker.green {
  background-color: #43cf64;
}

.spotting {
  background-color: rgba(236, 14, 45, 0.1);
}

.spotting.active, .light.active {
  border: 2px solid #de2929;
}

.medium.active, .heavy.active {
  border: 2px solid #881414;
}

.spotting.active {
  background-color: rgba(236, 14, 45, 0.3);
}

.light {
  background-color: rgba(236, 14, 45, 0.4);
}

.medium {
  background-color: rgba(236, 14, 45, 0.7);
}

.heavy {
  background-color: rgba(236, 14, 45, 0.9);
  color: #111;
}

.hidden {
  display: none;
}
