/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0.9rem;
}

#wrapper {
  font-size: 1.5rem;
  position: relative;
  width: 100%;
}

#calendar li {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0.2rem 0;
  padding: 0.8rem 1rem;
  position: relative;
}

#calendar li span {
  color: #888;
  display: block;
}

#calendar li.today span {
  color: #37ddfb;
}

.options {
  margin-top: 0.8rem;
  width: 100%;
}

button {
  border: 0;
  border-radius: 3px;
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.5rem;
  width: 7.7rem;
}

button:hover {
  opacity: 0.7;
}

button:focus {
  border: 2px solid #fff119;
}

.period {
  color: #370909;
}

.period.spotting {
  background-color: rgba(236, 14, 45, 0.1);
}

.period.light {
  background-color: rgba(236, 14, 45, 0.4);
}

.period.medium {
  background-color: rgba(236, 14, 45, 0.7);
}

.period.heavy {
  background-color: rgba(236, 14, 45, 1.0);
}

.symptom {
  background-color: #65dbf0;
  color: #194861;
}

.hidden {
  display: none;
}
